@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Data Driven Design INC.</h1>

<p>
    Here at DDD INC., we strive to provide the most dynamic, responsive and stunning products
    you've ever seen. Our team of carefully currated and highly trained staff are here to make
    sure that you get the best product we can give, as fast as we can get it to you.
</p>
<p>
    Have you ever ordered a product online, waited for the fateful day the delivery driver 
    sets it on your doorstep, and opening it up to find a piece of junk? With DDD INC., you will
    never have to worry about being let down by a misleading advertisment campaign. You will recieve
    step by step videos of us making you product, so that you can be assured of the quality of your
    order.
</p>
<p>
    And, if for some reason, the product that arrived at your door doesn't meet your standards,
    You can send it back, and we'll send a replacement for free. We want to make sure that you 
    know what you're getting, and that you will be satisfied with the investment you made.
</p>