@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-2">Welcome to Data Driven Design INC.</h1>

<div>
    <p>
        Here at DDD INC., we strive to provide the most dynamic, responsive and stunning products
        you've ever seen. Our team of carefully currated and highly trained staff are here to make
        sure that you get the best product we can give, as fast as we can get it to you.
    </p>
    <p>
        Have you ever ordered a product online, waited for the fateful day the delivery driver
        sets it on your doorstep, and opening it up to find a piece of junk? With DDD INC., you will
        never have to worry about being let down by a misleading advertisment campaign. You will recieve
        step by step videos of us making you product, so that you can be assured of the quality of your
        order.
    </p>
    <p>
        And, if for some reason, the product that arrived at your door doesn't meet your standards,
        You can send it back, and we'll send a replacement for free. We want to make sure that you
        know what you're getting, and that you will be satisfied with the investment you made.
    </p>
</div>

<h2>Products</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    @for (int i = 0; i < 3; i++)
    {
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Placeholder Title</h5>
                    <p class="card-text">This product is currently unavailable. We hope to release it soon.</p>
                </div>
            </div>
        </div>
    }
</div>

<h2>Frequently Asked Questions?</h2>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Accordion Item #1
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Accordion Item #2
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Accordion Item #3
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
</div>